/* @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); */

/* Import Tailwind CSS */
@tailwind base;
/* @tailwind components; */
@tailwind utilities;

* {
  box-sizing: border-box;
  /* font-family: 'Minecraftia', sans-serif; */
}

@font-face {
  font-family: Minecraft;
  src: url(/src//assets/mc-font.otf);
  font-display: swap;
}


/* Global Styling */
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* background-image: url(https://preview.redd.it/rk2ly8cspmb51.jpg?width=1920&format=pjpg&auto=webp&s=91400a0976b41c42daf966a9526251fca4328ea2); */
  background-size: cover;
  /* overflow: hidden; */
  background-color: #29272c;
}

#root {
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  justify-content:space-between;
}

canvas {
  width: 100%;
  height: 100%;
}

/* Main Container Styling */
.container {
  height: 100vh;
  width: auto;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  /* flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.3%; */
  margin-top: 2rem;
  margin-bottom: 1.25rem;
}

.menu-options {
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
  width: 33.3%;
}

.menu-options .btn-minecraft:first-child {
  margin-right: 10px;
}

.btn-minecraft {
  font-family: Minecraft, Avenir, Helvetica, Arial, sans-serif;
  background: #727272;
  color: rgb(247, 247, 247);
  /* width: 100%; */
  padding: .65rem .5rem;
  /* margin-inline-end: 2rem; */
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  letter-spacing: .025em;
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: inset 3px 3px 0 rgba(255, 255, 255, 0.5),
    inset -3px -3px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.btn-minecraft:hover {
  background: rgba(115, 107, 221, 1);
}

.btn-minecraft:focus {
  color: rgb(246, 246, 44);
  outline: none;
}

/* FOOTER STYLING */

.footer {
  width: auto;
  /* position: absolute; */
  bottom: 0;
  background-image: url('./assets/background.svg');
  background-color: rgb(34, 34, 34);
  color: rgb(247, 247, 247);
}

.nav-wrapper {
  background-image: url('./assets/background.svg');
  background-color: rgb(34, 34, 34);
}


