/* @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); */

/* Import Tailwind CSS */
@tailwind base;
/* @tailwind components; */
@tailwind utilities;

* {
  box-sizing: border-box;
  /* font-family: 'Minecraftia', sans-serif; */
}

@font-face {
  font-family: Minecraft;
  src: url(/src//assets/mc-font.otf);
  font-display: swap;
}

/* Global Styling */
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* background-image: url('./assets/creeper.jpg'); */
  background-size: cover;
  /* background-blend-mode: darken; */
  /* overflow: hidden; */
  background-color: #29272c;
}

#root {
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  justify-content: space-between;
}

#save-container {
  height: 50%;
  display: flex;
  justify-content: center;
}

#save-wrapper {
  width: 50%;
  border: 1px solid gray;
  filter: drop-shadow(0 0 0.75rem black);
}

#editor {
  width: 100%;
  height: 100%;
}

#test-select {
  display: flex;
  justify-content: center;
}

#dropdown {
  width: 300px;
  height: 30px;
}

.save-modal {
  bottom: 75px;
  right: 10px;
  opacity: 0;
}

.fade-in {
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
}

.fade-out {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Main Container Styling */
.container {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.minecraft {
  font-family: Minecraft, Avenir, Helvetica, Arial, sans-serif;
}

.menu {
  display: flex;
  /* flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.3%; */
  margin-top: 2rem;
  margin-bottom: 1.25rem;
}

.menu-options {
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
  width: 33.3%;
}

.menu-options .btn-minecraft:first-child {
  margin-right: 10px;
}

.btn-minecraft {
  font-family: Minecraft, Avenir, Helvetica, Arial, sans-serif;
  background: #727272;
  color: rgb(247, 247, 247);
  padding: 0.3rem 0.5rem;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  letter-spacing: 0.025em;
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: inset 3px 3px 0 rgba(255, 255, 255, 0.5),
    inset -3px -3px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.btn-minecraft:hover {
  background: rgba(115, 107, 221, 1);
}

.btn-minecraft:focus {
  color: rgb(246, 246, 44);
  outline: none;
}

/* FOOTER STYLING */

.footer {
  width: auto;
  /* position: absolute; */
  bottom: 0;
  background-image: url("./assets/background.svg");
  background-color: rgb(34, 34, 34);
  color: rgb(247, 247, 247);
}

.nav-wrapper {
  background-image: url("./assets/background.svg");
  background-color: rgb(34, 34, 34);
}

#logo:hover {
  content: url(./assets/Campfire.webp);
}

#login {
  background-image: url("./assets/darkBG.jpg");
  background-color: rgb(58, 83, 51);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

#login-header {
  background-image: url("./assets/background.svg");
  background-color: rgb(34, 34, 34);
}

#nologin {
  background-image: url("./assets/darkBG.jpg");
  background-color: rgb(58, 83, 51);
  background-size: fill;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position: center;
}

.chunktitle {
  background-image: url("./assets/CHUNKD.png");
}
